<ul>
    <li>Admin table status: <%if(tables_status.admin == true) {%><span class="text-green">Installed</span><%} else {%><span class="text-red">Not Installed</span><%}%></li>
    <li>Incomes table status: <%if(tables_status.incomes == true) {%><span class="text-green">Installed</span><%} else {%><span class="text-red">Not Installed</span><%}%></li> 
    <li>Outcomes table status: <%if(tables_status.outcomes == true) {%><span class="text-green">Installed</span><%} else {%><span class="text-red">Not Installed</span><%}%></li> 
    <li>Products table status: <%if(tables_status.products == true) {%><span class="text-green">Installed</span><%} else {%><span class="text-red">Not Installed</span><%}%></li> 
    <li>Stock table status: <%if(tables_status.stocks == true) {%><span class="text-green">Installed</span><%} else {%><span class="text-red">Not Installed</span><%}%></li> 
    <li>Restocks table status: <%if(tables_status.restocks == true) {%><span class="text-green">Installed</span><%} else {%><span class="text-red">Not Installed</span><%}%></li> 
 </ul>