<table class="full card rounded">
    <tr>
        <th colspan="4">Stocks</th>
    </tr>
    <tr>
        <th>หมายเลขสินค้า</th>
        <th>ชื่อสินค้า</th>
        <th>จำนวน</th>
    </tr>
    <%
    stocks.forEach((row) => {
    %>
    <tr>
        <td><%=row.product_id%></td>
        <td><%=row.product_name%></td>
        <td><%=row.amounts.toLocaleString()%></td>
    </tr>
    <%                
    })
    %>
</table>