<table class="mt-20">
    <tr>
        <th>หมายเลขคำสั่งซื้อ</th>
        <th>เวลา (dd/mm/yyyy)</th>
        <th>ยอดซื้อสินค้ารวม (บาท)</th>
    </tr>
    <%
    orders.forEach((row) => {
    %>
    <tr>
        <td><%=row.order_id%></td>
        <td><%=row.time.toLocaleDateString()%> <%=row.time.toLocaleTimeString("en-US", { hour12: false }).replace(/AM|PM/,'')%></td>
        <td><%=row.total.toLocaleString()%></td>
    </tr>
    <%                
    })
    %>
</table>